{% extends "base.html" %}
<title>{% block title %}Health Weight{% endblock %}</title>

{% block content %}

<style>
  body {
    margin-top: 0px;
    background: #343a40;
  }

  .profile-header {
    position: relative;
    background-position: center;
    overflow: hidden;
  }

  .profile-header .profile-header-cover {
    margin-top: 5px;
    background-color: #ffffff;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  .profile-header .profile-header-cover:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0,
      rgba(0, 0, 0, 0.75) 100%
    );
  }

  .profile-header .profile-header-content {
    color: #fff;
    padding: 25px;
  }

  .profile-header-img {
    float: left;
    width: 120px;
    height: 120px;
    overflow: hidden;
    position: relative;
    z-index: 10;
    margin: 0 0 -20px;
    padding: 3px;
    border-radius: 4px;
    background: rgb(31, 30, 30);
  }

  .profile-header-img img {
    max-width: 100%;
  }

  .profile-header-info {
    font-weight: 400;
    color: rgb(31, 30, 30);
  }

  .profile-header-img + .profile-header-info {
    margin-left: 140px;
    font-weight: 500;
    color: rgb(31, 30, 30);
  }

  .profile-header .profile-header-content,
  .profile-header .profile-header-tab {
    position: relative;
  }

  .profile-header .profile-header-tab {
    background: #fff;
    list-style-type: none;
    margin: -10px 0 0;
    padding: 0 0 0 140px;
    white-space: nowrap;
    border-radius: 0;
  }
  .profile-header .profile-header-tab > li {
    display: inline-block;
    margin: 0;
  }

  .profile-header .profile-header-tab > li > a {
    display: block;
    color: rgb(31, 30, 30);
    line-height: 20px;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: 700;
    font-size: 12px;
    border: none;
  }
  .content-box {
    background-color: rgb(255, 255, 255);
    width: 1080px;
    margin: auto;
    padding: 10px;
  }
</style>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div id="content" class="content content-full-width">
        <!-- begin profile -->
        <div class="profile">
          <div class="profile-header">
            <!-- BEGIN profile-header-cover -->
            <div class="profile-header-cover"></div>
            <!-- END profile-header-cover -->
            <!-- BEGIN profile-header-content -->
            <div class="profile-header-content">
              <!-- BEGIN profile-header-img -->
              <div class="profile-header-img">
                <img
                  src="{{ url_for('static', filename='profilepicture.jpg') }}"
                  alt="" />
              </div>
              <!-- END profile-header-img -->
              <!-- BEGIN profile-header-info -->
              <div class="profile-header-info">
                <p class="m-b-10">&nbsp</p>
                <h5 class="m-b-10">{{first_name}} {{last_name}}</h5>
                <p class="m-b-10">&nbsp</p>
              </div>
              <!-- END profile-header-info -->
            </div>
            <!-- END profile-header-content -->
            <!-- BEGIN profile-header-tab -->
            <ul class="profile-header-tab nav nav-tabs">
              <li class="nav-item">
                <a href="/profile/appointments" class="nav-link_"
                  >Appointments</a
                >
              </li>
              <li class="nav-item">
                <a href="/profile/health-data" class="nav-link_">
                  <u>Health Data</u></a
                >
              </li>
              <li class="nav-item">
                <a href="/profile/medical-history" class="nav-link_"
                  >Medical History</a
                >
              </li>
              <li class="nav-item">
                <a href="/settings/general" class="nav-link_">Edit Profile</a>
              </li>
            </ul>
            <!-- END profile-header-tab -->
          </div>

          <div class="health-data">
            <div class="content-box">
              <form method="post">
                <br />
                <h2>Update Weight</h2>
                <br />
                <div class="form-group">
                  <label for="first_name">Current Weight</label>
                  <p><b>{{weight}}</b></p>
                </div>
                <div class="form-group">
                  <label for="last_name">New Weight</label>
                  <input
                    type="text"
                    class="form-control"
                    id="new-weight"
                    name="new-weight"
                    placeholder="New weight"
                    required />
                </div>
                <br />
                <button type="submit" class="btn btn-primary">Submit</button>
                <a href="/profile/health-data" class="btn btn-primary">Back</a>
                <br />
                <br />
              </form>
            </div>
          </div>
          <!-- end profile -->
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
